%table.table
  %tr
    %th.col-xs-1= f.label "起始日期"
    %td.col-xs-2= f.input_field :start_date, type: :date
    %th.col-xs-1= f.label "結束日期"
    %td.col-xs-2= f.input_field :end_date, type: :date, include_blank: true
