%h2 自訂項目
%table.table
  %tr
    %th.col-sm-1 項目名稱
    %th.col-sm-1 金額
    %th.col-sm-1 稅別
    %th.col-sm-2 備註
    %th.col-sm-4 操作
  %tbody#extra_entry_items
    = f.simple_fields_for :extra_entries do |extra_entry|
      = render "extra_entry_fields", f: extra_entry

= link_to_add_association "新增自訂項目", f, :extra_entries, class: "btn btn-sm btn-primary", data: { "association-insertion-node": "tbody#extra_entry_items", "association-insertion-method": "append" }
