%table.table
  %tr.warning
    %th.col-xs-1 加項小計
    %td.col-xs-2= meta[:gain]
    %th.col-xs-1 減項小計
    %td.col-xs-2= meta[:loss]
  %tr.info
    %th.col-xs-1 實發薪資
    %td{colspan: 3}= meta[:total]

  - if meta[:notes]
    = render "notes", meta: meta
