%table.table
  %tr.warning
    %th.col-md-1 扣抵項目
    %td.col-md-2
  %tr
    %th 勞保費
    %td= loss[:labor_insurance]
  %tr
    %th 健保費
    %td= loss[:health_insurance]
  - if loss[:leavetime]
    %tr
      %th 請假扣薪
      %td= loss[:leavetime]
  - if rows > 0
    = render "placeholder_rows", rows: rows
