%tr.nested-fields
  %td= f.input_field :date
  %td= f.input_field :hours
  %td= f.input_field :rate, collection: Overtime::RATE
  %td= link_to_remove_association "移除", f, class: "btn btn-xs btn-danger"
