%h2 加班紀錄
%table.table
  %tr
    %th.col-sm-2 加班日期
    %th.col-sm-2 加班時數
    %th.col-sm-2 適用費率
    %th.col-sm-4 操作
  %tbody#overtime_items
    = f.simple_fields_for :overtimes do |overtime|
      = render "overtime_fields", f: overtime

= link_to_add_association "新增加班紀錄", f, :overtimes, class: "btn btn-sm btn-primary", data: { "association-insertion-node": "tbody#overtime_items", "association-insertion-method": "append" }
