.row
  .col-md-6
    = render "header", meta: @payroll[:meta]
.row
  .col-md-3
    = render "gain", gain: @payroll[:gain]
  .col-md-3
    = render "loss", loss: @payroll[:loss]
.row
  .col-md-6
    = render "footer", meta: @payroll[:meta], notes: @payroll[:notes]
