.row
  .col-xs-6
    = render "header", meta: @payroll[:meta]
.row
  .col-xs-3
    = render "gain", gain: @payroll[:gain], rows: @payroll[:meta][:rows_adjustment]
  .col-xs-3
    = render "loss", loss: @payroll[:loss], rows: @payroll[:meta][:rows_adjustment]
.row
  .col-xs-6
    = render "footer", meta: @payroll[:meta]
