// Place all the styles related to the payrolls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.payrolls#show {
  .table {
    margin-bottom: 0;
  }

  .row {
    margin-right: 0;
    margin-left: 0;

    div.col-md-3, div.col-md-6 {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .placeholder {
    color: #fff;
  }
}
